
.vs/OrderManagement/FileContentIndex/1e55c0c0-d8f2-40a6-a100-c53051ac2cff.vsidx
.vs/OrderManagement/FileContentIndex/1e55c0c0-d8f2-40a6-a100-c53051ac2cff.vsidx
.vs/OrderManagement/FileContentIndex/3ca03247-9499-451d-9603-3f64c15bcd8e.vsidx
.vs/OrderManagement/FileContentIndex/5754a0fc-f0bf-4f94-adb5-1fb3e9a3bcc6.vsidx
*.vsidx
